.padding-sm {
  padding: 5px !important;
}
.padding-md {
  padding: 10px !important;
}
.padding-lg {
  padding: 20px !important;
}
.padding-top-md {
  padding-top: 10px !important;
}
.padding-top-lg {
  padding-top: 20px !important;
}
.padding-left-sm {
  padding-left: 5px !important;
}
.padding-left-md {
  padding-left: 10px !important;
}
.padding-lr-sm {
  padding: 0 5px !important;
}
.padding-lr-md {
  padding: 0 10px !important;
}
.padding-lr-lg {
  padding: 0 20px !important;
}
.margin-top-md {
  margin-top: 10px !important;
}
.margin-bottom-md {
  margin-bottom: 10px !important;
}
.margin-left-md {
  margin-left: 10px !important;
}
.text-center {
  text-align: center;
}
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.font-md {
  font-size: 16px;
}
.pointer {
  cursor: pointer;
}
.pointer-hover {
  cursor: pointer;
  color: #666666;
}
.pointer-hover:hover {
  color: #2db7f5;
}
.selectness {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.border-normal {
  border-bottom: 1px solid #e9e9e9;
}
.text-red {
  color: #ff0000;
}
.code-text {
  border: 1px solid #e6d6d6;
  background: #e3e3e3;
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
}
.content-container {
  margin-top: 57px;
  width: 100%;
}
pre {
  background: #e3e3e3;
  border-radius: 5px;
}

.ant-btn {
  border-radius: 0;
}
